[%autowidth]
|===
|Name|Description{{#format}}|format{{/format}}{{#optional}}|optional{{/optional}}

{{#parameters}}
    |{{name}}
    |{{description}}
    {{#format}}|{{format}}{{/format}}
    |{{#optional}}o{{/optional}}
{{/parameters}}

|===