[%autowidth]
|===
{{#depth1}}|Depth1{{/depth1}}{{#depth2}}|Depth2{{/depth2}}{{#depth3}}|Depth3{{/depth3}}|type|Description{{#format}}|format{{/format}}|optional

{{#fields}}
    {{#depth1}}|{{depth1}}{{/depth1}}
    {{#depth2}}|{{depth2}}{{/depth2}}
    {{#depth3}}|{{depth3}}{{/depth3}}
    |{{type}}
    |{{description}}
    {{#format}}|{{format}}{{/format}}
    |{{#optional}}o{{/optional}}
{{/fields}}

|===